.footer-link {
  color: #666666;
}

.footer-link:hover {
  color: #c2c2c2;
}

.dark .footer-link:hover {
  color: #484848;
}

.dark .footer-link {
  color: #999999;
}

.text-text-ulink {
  color: #044dd2;
}
.dark .text-text-ulink {
  color: #699fff;
}
